<!-- View Inventory link -->
<section class="flex_item_col red dark-border">
  <a class="big_link no_underline center_item big_font" href="/inventory">
    View Inventory
  </a>
</section>

<!-- links to Create Artist and Album -->
<section class="flex_item red dark-border">

  <h3 class="no-bottom-space" >Create New</h3>
  
  <a class="big_link no_underline" href="./artists/new">Artist</a>
  <a class="big_link no_underline" href="./albums/new">Album</a>

</section>
