<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Vibrant Matter Stock Manager</title>
</head>

<body>

  <header>
    <a class="no_underline" href="/">
      <h1 class="title">Vibrant Matter</h1>
      <h2 class="subtitle">Stock Manager</h2>
    </a>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    &copy; 2018
    <span class="right-side">
      <!-- open Email on click -->
      <a href="mailto:jim.bevington@hotmail.com?subject=Vibrant%20Matter%20Technical%20Issues">Technical Support</a>
    </span>  
  </footer>

</body>
</html>
