<!-- warning msg -->
<h4 class="no-bottom-space top-space">
  Are you sure you want to delete <%= @album.title.upcase! %>?
</h4>

<!-- form sends DELETE POST message -->
<form class="no-border no-padding no-margin"
      action="./delete" method="post">

  <input type="submit" name="delete" value="Yes">
  <a href="../<%= @album.id %>">Back to Album</a>

</form>
