<!-- DOES NOT EXIST msg -->
<h3 class="no-bottom-space top-space">
  <%= @artist.upcase! %> does not exist!
</h3>

<p class='italic-text'>You must create them first.</p>

<!-- link to Create Artist --> 
<a class="big_link no_underline center-text" href="./artists/new">
  Create Artist
</a>
